/* MENU BAR */
.menu-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: var(--menu-background) !important;
    color: var(--menu-text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
    box-shadow: 0 2px 5px var(--box-shadow-dark);
}

.menu-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.menu-title {
    font-size: 18px;
    font-weight: bold;
    display: inline;
}

.menu-togglers .col-1 {
    float: left;
}
.menu-togglers .col-2 {
    float: right;
}


/*SKILLS PROFILE AREA*/
.profile-pic {
    width: 100%;
    background-color: var(--image-background);
    transition: background-color 300ms;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.email_address {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.status-bar {
    color: var(--status-bar-text);
    background-color: var(--status-bar-background);
    margin-bottom: 20px;
}

.status-bar-fill {
    background-color: var(--status-bar-fill);
    font-weight: bold;
}

.download-resume-button{
    display: inline;
    padding: 5px 9px;
    margin: 16px 8px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    float: right;
    transition: all 0.3s ease;
    background-color: var(--download-button);
    border: 2px solid var(--download-btn-text);
    color: var(--download-btn-text);
}
.download-resume-button:hover {
    background-color: var(--download-btn-hover);
    color: var(--download-btn-text-hover);
    border-color: var(--download-btn-text-hover);
}
span.dl-text{
    padding-left: 8px;
}


/*FOOTER*/
i.fa.fa-lg.fa-facebook-official.footer_link,
i.fa.fa-lg.fa-instagram.footer_link,
i.fa.fa-lg.fa-linkedin.footer_link,
i.fa.fa-lg.fa-github.footer_link {
    font-size: 30px;
}

i.fa.fa-lg.fa-facebook-official.footer_link:hover,
i.fa.fa-lg.fa-instagram.footer_link:hover,
i.fa.fa-lg.fa-linkedin.footer_link:hover,
i.fa.fa-lg.fa-github.footer_link:hover {
    font-size: 36px;
    color: var(--hover-text);
}
footer{
    position:relative;
}
footer.container {
    text-align: center;
    background-color: var(--menu-background);
    color: var(--menu-text);
    padding-bottom: 20px;
    height:100px;
}

footer .foot_icon {
    display: inline-block;
    height: 40px;
    width: 45px;
    text-align: center;
    vertical-align: bottom;
}

footer span a i {
    padding: 0px;
    border: 0px;
}

.third,
.twothird {
    float: left;
    width: 100%;
}


@media (min-width: 601px) {
    .third {
        width: 33.33333%;
    }
    .twothird {
        width: 66.66666%;
    }
}