:root {
  --aioli: #001437;
  --baby-blue: #D4F1F4;
  --bermuda: #75D5D0;
  --blue-green: #75E6DA;
  --blue-grotto: #189AB4;
  --box-shadow-dark: #00000033;
  --box-shadow-dark2: #00000030;
  --box-shadow-light: #00000029;
  --box-shadow-light2: #0000001f;
  --complement-color-1: #FFFFFD;
  --complement-color-2: #FFE9D7;
  --complement-color-3: #FFD3B1;
  --complement-color-4: #FFB8D9;
  --complement-color-5: #FFAD6B;
  --container-text: #757575;
  --container: #ffffff;
  --deep-baby-blue: #7EC8E3;
  --deep-blue: #0000FF;
  --deep-dark-blue: #050A30;
  --deep-navy-blue: #000C66;
  --download-btn-hover: #00a3a3;
  --download-btn-text-hover: #fff;
  --download-btn-text: #279292;
  --download-btn: transparent;
  --emerald-charcoal: #122620;
  --emerald-cream: #F4EBD0;
  --emerald-gold: #D6AD60;
  --emerald-tan: #B68D40;
  --foam-mint: #DDFFE7;
  --foam-spearmint: #98D7C2;
  --foam-teal-green: #167D7F;
  --foam-teal: #29A0B1;
  --grey-text: #757575;
  --header-icon: #009688;
  --hoki: #607DA1;
  --hover-background: #009688;
  --hover-text: #0b304b;
  --icon-header-text: #757575;
  --image-background: #75D5D0;
  --lake-baby-blue: #B1D4E0;
  --lake-blue: #2E8BC0;
  --lake-dark-blue: #0C2D48;
  --lake-midnight-blue: #145DA0;
  --link-water: #CFEAF3;
  --menu-background: #71CDCD;
  --menu-border: #00000000;
  --menu-shine: #000000;
  --menu-text: #00000097;
  --mirage: #172134;
  --nav-background-hover: #11423d;
  --nav-background-text-hover: #009688;
  --nav-background: #0000001a;
  --navy-blue: #05445E;
  --p-background-text: #009688;
  --p-background: #ffffff;
  --pastel-mint: #B4F8C8;
  --pastel-pink: #FFAEBC;
  --pastel-yellow: #FBE7C6;
  --preload-svg: #009688;
  --primary-background-text: #000000ba;
  --primary-background: #A0E7E5;
  --primary-color-1: #FDFFFF;
  --primary-color-2: #D1F8F6;
  --primary-color-3: #A0E7E4;
  --primary-color-4: #000101;
  --primary-color-5: #47A9A5;
  --scrollbar-border: #00000000;
  --scrollbar-thumb: #498484b5;
  --scrollbar-track: #284a6924;
  --secondary1-color-1: #FDFEFF;
  --secondary1-color-2: #D6E1F9;
  --secondary1-color-3: #AABFEB;
  --secondary1-color-4: #7F9BD5;
  --secondary1-color-5: #5776B6;
  --secondary2-color-1: #FDFFFD;
  --secondary2-color-2: #D6FCD4;
  --secondary2-color-3: #ACF3A9;
  --secondary2-color-4: #84E77F;
  --secondary2-color-5: #60D55A;
  --slider-background1: #878787;
  --slider-background2: #003366;
  --slider: #ffffff;
  --status-bar-background: #ffe5e5;
  --status-bar-fill: #42B2A6;
  --status-bar-text: #ffffff;
  --tide-baby-blue: #C3E0E5;
  --tide-blue-gray: #5885AF;
  --tide-dark-blue: #274472;
  --tide-midnight-blue: #41729f;
  --tiffany-blue: #A0E7E5;
}


body.dark-mode {
  --box-shadow-dark: #00000050;
  --box-shadow-dark2: #00000047;
  --box-shadow-light: #00000046;
  --box-shadow-light2: #00000033;
  --container-text: #ffffff;
  --container: #38444d;
  --download-btn-hover: #008a8a42;
  --download-btn-text-hover: #fff;
  --download-btn-text: #00bfbf;
  --download-btn: #00bfbf;
  --grey-text: #c7c7c7;
  --header-icon: #009688;
  --hover-background: #364654;
  --hover-text: #79c0ff;
  --icon-header-text: #c7c7c7;
  --image-background: #090909;
  --menu-background: #0B1D2B;
  --menu-border: #A0E7E5;
  --menu-shine: #c4eaf3;
  --menu-text: #ffffff;
  --nav-background-hover: #1f2a33;
  --nav-background-text-hover: #79c0ff;
  --nav-background: #38444d;
  --p-background-text: #FFFFFF;
  --p-background: #ffffff;
  --preload-svg: #79c0ff;
  --primary-background-text: #ffffff;
  --primary-background: #172c3d;
  --scrollbar-border: #00000000;
  --scrollbar-thumb: #071119;
  --scrollbar-track: #41729f24;
  --slider-background1: #555555;
  --slider-background2: #003366;
  --slider: #ffffff;
  --status-bar-background: #1f252a;
  --status-bar-fill: #009688;
  --status-bar-text: #38444d;
}
html, body {
  overflow: visible; /* Ensure sticky can calculate position */
}


html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--primary-background);
  color: var(--primary-background-text);
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}


*,
*:before,
*:after {
  box-sizing: inherit
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto", sans-serif, "Segoe UI", Arial;
  font-weight: 400;
  margin: 8px 0;
}

h2 {
  display: inline-block;
  font-size: 30px;
}

h5,h6 {
  font-size: 15px;
}

h5 i {
  margin-right: 6px;
}

a {
  color: inherit;
  background-color: transparent;
}

.fl-clear{
  float:left;
}
.fl-clear::after{
  content: "";
  display: table;
  clear: both;
}

article,aside,details,footer,header,main,menu,nav,section {
  display: block;
}

svg.fa-fw {
  color: var(--header-icon);
}

.nav-link svg.fa-fw {
  color: var(--menu-text);
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container {
  padding: 0.01em 8px 0.01em 8px;
  color: var(--container-text);
  background-color: var(--container);
  margin-bottom: 16px;
}

.row-padding,
.row-padding>.third,
.row-padding>.twothird {
  padding: 0 8px;
}

.main-area {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-top: 60px;
  width: 100%;
  display: block;
  position:relative;
}
.body-scroll-area {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.header-icon {
  color: var(--icon-header-text);
}

.container:after,.container:before,
.row-padding:after,.row-padding:before {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 2px 5px 0 var(--box-shadow-light), 0 2px 10px 0 var(--box-shadow-light2);
}

.card-2 {
  box-shadow: 0 4px 10px 0 var(--box-shadow-dark), 0 4px 20px 0 var(--box-shadow-dark2);
}


p svg {
  font-size: 18px;
}

.fa-fw {
  margin-right: 8px;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto;
}

.light-drop {
  color: var(--p-background-text);
  background-color: var(--p-background);
}

.profile-pic {
  width: 100%;
  background-color: var(--image-background);
  transition: background-color 300ms;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.email_address {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.status-bar {
  color: var(--status-bar-text);
  background-color: var(--status-bar-background);
  margin-bottom: 20px;
  font-size: 12px;
  border-radius: 16px;
}

.status-bar-fill {
  background-color: var(--status-bar-fill);
  font-weight: bold;
  border-radius: 16px;
  text-align: center;
}

.download-resume-button {
  display: inline;
  padding: 5px 9px;
  margin: 16px 8px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  float: right;
  transition: all 0.3s ease;
  background-color: var(--download-button);
  border: 2px solid var(--download-btn-text);
  color: var(--download-btn-text);
}

.download-resume-button:hover {
  background-color: var(--download-btn-hover);
  color: var(--download-btn-text-hover);
  border-color: var(--download-btn-text-hover);
}

span.dl-text {
  padding-left: 8px;
}

.third,.twothird {
  float: left;
  width: 100%;
}

.menu-togglers{
  min-height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 21px;
  flex-wrap: nowrap;
  margin-right: 10px;
}

@media (min-width: 601px) {
  .third {
    width: 33.33333%;
  }

  .twothird {
    width: 66.66666%;
  }

  .code-icons {
    --icon-size: 35px;
  }
}
@media (max-width: 601px) {
    .menu-togglers {
      min-height: 50px;
      align-items: flex-end;
      justify-content: flex-start;
      flex-direction: column;
      column-gap: 2px;
      flex-wrap: nowrap;
      margin: 8px 10px 0px 0px;
    }
}
@media (min-width: 601px) and (max-width: 850px) {
  .code-icons {
    --icon-size: 24px;
  }
}
.scrollbar-x {
  overflow-x:auto;
}
.scrollbar-y {
  overflow-y: auto;
}

.scrollbar-x::-webkit-scrollbar { height: 6px;  }
.scrollbar-y::-webkit-scrollbar { width: 12px; }

.scrollbar-x::-webkit-scrollbar-track,
.scrollbar-y::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: var(--scrollbar-track);
  border: 1px solid var(--scrollbar-border);
}

.scrollbar-x::-webkit-scrollbar-thumb,
.scrollbar-y::-webkit-scrollbar-thumb{
  border-radius: 8px;
  background-color: var(--scrollbar-thumb);
}


.inline-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.inline-list li {
  display: inline;
}

.inline-list li::after {
  content: ", ";
}

.inline-list li:last-child::after {
  content: "";
}

section::after, .container::after, .clear-fix::after {
  content: "";
  display: table;
  clear: both;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip::after {
  content: attr(data-tooltip); /* Use the custom tooltip text */
  position: absolute;
  left: 50%;
  bottom: 100%; /* Position above the element */
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}

.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


