:root {
  --main-margin: "auto";
  --primary-background: #f1f1f1;
  --primary-background-text: #000000;
  --menu-background: #009688;
  --icon-header-text: #757575;
  --image-background: #42B2A6;
  --status-bar-text: #ffffff;
  --status-bar-background: #ffe5e5;
  --status-bar-fill: #42B2A6;
  --p-background: #ffffff;
  --p-background-text: #009688;
  --container-text: #757575;
  --container: #ffffff;
  --menu-text: #ffffff;
  --box-shadow-light: rgba(0, 0, 0, 0.16);
  --box-shadow-light2: rgba(0, 0, 0, 0.12);
  --box-shadow-dark: rgba(0, 0, 0, 0.2);
  --box-shadow-dark2: #00000030;
  --hover-text: #fff;
  --hover-background: #009688;
  --opacity: 0.8;
  --header-icon: #009688;
  --grey-text: #757575;
  --slider-background1: #ccc;
  --slider-background2: #003366;
  --slider: #fff;
  --download-btn: transparent;
  --download-btn-text: #279292;
  --download-btn-hover: #00a3a3;
  --download-btn-text-hover: #fff;
  --nav-background-hover: #11423d; 
  --nav-background-text-hover: #009688;
  --nav-background: #ffffff; 
}

body.dark-mode {
  --primary-background: #172c3d;
  --primary-background-text: #ffffff;
  --menu-background: #172c3d;
  --icon-header-text: #c7c7c7;
  --image-background: #090909;
  --status-bar-text: #38444d;
  --status-bar-background: #1f252a;
  --status-bar-fill: #009688;
  --p-background: #ffffff;
  --p-background-text: #FFFFFF;
  --container-text: #ffffff;
  --container: #38444d;
  --menu-text: #ffffff;
  --box-shadow-light: rgba(0, 0, 0, 0.16);
  --box-shadow-light2: rgba(0, 0, 0, 0.12);
  --box-shadow-dark: rgba(0, 0, 0, 0.2);
  --box-shadow-dark2: rgba(0, 0, 0, 0.19);
  --hover-text: #79c0ff;
  --hover-background: #1F2A33;
  --opacity: 0.9;
  --header-icon: #009688;
  --grey-text: #c7c7c7;
  --slider-background1: #555;
  --slider-background2: #003366;
  --slider: #fff;
  --download-btn: #00bfbf;
  --download-btn-text: #00bfbf;
  --download-btn-hover: #008a8a42;
  --download-btn-text-hover: #fff;
  --nav-background-text-hover: #79c0ff;
  --nav-background-hover: #1f2a33; 
  --nav-background: #38444d; 
}

body.preload {
  display: none;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

body {
  padding-top: 50px;
  font-size: 11pt;
  line-height: 1.5;
  margin: 0;
  background-color: var(--primary-background);
  color: var(--primary-background-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif, "Segoe UI", Arial;
  font-weight: 400;
  margin: 8px 0;
}

h2 {
  display:inline-block;
  font-size: 22.5pt;
}

h5,
h6 {
  font-size: 12pt;
}

h5 i {
  margin-right: 6px;
}

a {
  color: inherit;
  background-color: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}


.container {
  padding: 0.01em 8px 0.01em 8px;
}

.margin-right {
  margin-right: 8px;
}

.opacity {
  opacity: var(--opacity);
}

.light-drop {
  color: var(--p-background-text);
  background-color: var(--p-background);
}

i.fa-solid {
  color: var(--header-icon);
}

.container {
  color: var(--container-text);
  background-color: var(--container);
}


.margin-top {
  margin-top: 16px !important;
}

div.light-grey.round-xlarge.small {
  margin-bottom: 20px;
}

.row-padding,
.row-padding>.third,
.row-padding>.twothird {
  padding: 0 8px;
  height: 100%;
}

.main-area {
  margin-left: var(--main-margin);
  margin-right: auto;
  max-width: 1400px;
}

.text-grey,
.hover-text-grey:hover,
.text-gray,
.hover-text-gray:hover {
  color: var(--icon-header-text);
}

.container:after,
.container:before,
.row-padding:after,
.row-padding:before {
  content: "";
  display: table;
  clear: both;
}

.card,
.card-2 {
  box-shadow: 0 2px 5px 0 var(--box-shadow-light), 0 2px 10px 0 var(--box-shadow-light2);
}

.card-4,
.hover-shadow:hover {
  box-shadow: 0 4px 10px 0 var(--box-shadow-dark), 0 4px 20px 0 var(--box-shadow-dark2);
}

.margin-bottom {
  margin-bottom: 16px !important;
}

.padding-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.xxlarge {
  font-size: 36px !important;
}

.large {
  font-size: 18px !important;
}

.round-xlarge {
  border-radius: 16px;
}

.small {
  font-size: 12px !important;
}

.center {
  text-align: center;
}

*,
*:before,
*:after {
  box-sizing: inherit
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto;
}