:root {
  --primary-background: #e6e6e6;
  --primary-background-text: #000000;
  --menu-background: #009688;
  --icon-header-text: #757575;
  --image-background: #42B2A6;
  --status-bar-text: #ffffff;
  --status-bar-background: #ffe5e5;
  --status-bar-fill: #42B2A6;
  --p-background: #ffffff;
  --p-background-text: #009688;
  --container-text: #757575;
  --container: #ffffff;
  --menu-text: #ffffff;
  --box-shadow-light: rgba(0, 0, 0, 0.16);
  --box-shadow-light2: rgba(0, 0, 0, 0.12);
  --box-shadow-dark: rgba(0, 0, 0, 0.2);
  --box-shadow-dark2: #00000030;
  --hover-text: #0b304b;
  --hover-background: #009688;
  --header-icon: #009688;
  --grey-text: #757575;
  --slider-background1: #ccc;
  --slider-background2: #003366;
  --slider: #fff;
  --download-btn: transparent;
  --download-btn-text: #279292;
  --download-btn-hover: #00a3a3;
  --download-btn-text-hover: #fff;
  --nav-background-hover: #11423d; 
  --nav-background-text-hover: #009688;
  --nav-background: #ffffff; 
}

body.dark-mode {
  --primary-background: #172c3d;
  --primary-background-text: #ffffff;
  --menu-background: #172c3d;
  --icon-header-text: #c7c7c7;
  --image-background: #090909;
  --status-bar-text: #38444d;
  --status-bar-background: #1f252a;
  --status-bar-fill: #009688;
  --p-background: #ffffff;
  --p-background-text: #FFFFFF;
  --container-text: #ffffff;
  --container: #38444d;
  --menu-text: #ffffff;
  --box-shadow-light: rgba(0, 0, 0, 0.16);
  --box-shadow-light2: rgba(0, 0, 0, 0.12);
  --box-shadow-dark: rgba(0, 0, 0, 0.2);
  --box-shadow-dark2: rgba(0, 0, 0, 0.19);
  --hover-text: #79c0ff;
  --hover-background: #1F2A33;
  --header-icon: #009688;
  --grey-text: #c7c7c7;
  --slider-background1: #555;
  --slider-background2: #003366;
  --slider: #fff;
  --download-btn: #00bfbf;
  --download-btn-text: #00bfbf;
  --download-btn-hover: #008a8a42;
  --download-btn-text-hover: #fff;
  --nav-background-text-hover: #79c0ff;
  --nav-background-hover: #1f2a33; 
  --nav-background: #38444d; 
}

body.preload {
  display: none;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--primary-background);
  color: var(--primary-background-text);
  padding-top: 50px;
  font-size: 11pt;
  line-height: 1.5;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto", sans-serif, "Segoe UI", Arial;
  font-weight: 400;
  margin: 8px 0;
}

h2 {
  display:inline-block;
  font-size: 22.5pt;
}

h5,h6 {
  font-size: 11pt;
}

h5 i {
  margin-right: 6px;
}

a {
  color: inherit;
  background-color: transparent;
}

article, aside, details, footer, header, main, menu, nav, section {
  display: block;
}

svg.fa-fw {
  color: var(--header-icon);
}

.nav-link svg.fa-fw {
  color: var(--menu-text);
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.container {
  padding: 0.01em 8px 0.01em 8px;
  color: var(--container-text);
  background-color: var(--container);
  margin-bottom: 16px;
}

.row-padding,
.row-padding>.third,
.row-padding>.twothird {
  padding: 0 8px;
  height: 100%;
}

.main-area {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  margin-top: 16px;
}
.header-icon{
  color: var(--icon-header-text);
}

.container:after, .container:before,
.row-padding:after, .row-padding:before {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 2px 5px 0 var(--box-shadow-light), 0 2px 10px 0 var(--box-shadow-light2);
}
.card-2{
  box-shadow: 0 4px 10px 0 var(--box-shadow-dark), 0 4px 20px 0 var(--box-shadow-dark2);
}


p svg {
  font-size: 18px;
}
.fa-fw {
  margin-right: 8px;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto;
}
.light-drop {
  color: var(--p-background-text);
  background-color: var(--p-background);
}
.profile-pic {
  width: 100%;
  background-color: var(--image-background);
  transition: background-color 300ms;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.email_address {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.status-bar {
  color: var(--status-bar-text);
  background-color: var(--status-bar-background);
  margin-bottom: 20px;
  font-size: 12px;
  border-radius: 16px;
}
.status-bar-fill {
  background-color: var(--status-bar-fill);
  font-weight: bold;
  border-radius: 16px;
  text-align: center;
}

a.nav-link {
  color: var(--primary-text);
  font-weight: 700;
  font-size: 14pt;
  display: block;
  line-height: 25px;
  padding: 4px;
  transition:0.3s;
}
a.nav-link:hover {
  background-color: var(--nav-background-hover);
  color: var(--nav-background-text-hover);
  opacity: 1 !important;
  transition:0.3s;
  cursor:pointer;
  user-select: none;
}
nav {
  width: 88px;
  position: fixed;
  left: 0;
  top: 66px;
  bottom: 116px;
  font-size: 8pt;
  overflow-y: auto;
  background-color: var(--nav-background);
}

.download-resume-button{
  display: inline;
  padding: 5px 9px;
  margin: 16px 8px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  float: right;
  transition: all 0.3s ease;
  background-color: var(--download-button);
  border: 2px solid var(--download-btn-text);
  color: var(--download-btn-text);
}
.download-resume-button:hover {
  background-color: var(--download-btn-hover);
  color: var(--download-btn-text-hover);
  border-color: var(--download-btn-text-hover);
}
span.dl-text{
  padding-left: 8px;
}

.third,
.twothird {
  float: left;
  width: 100%;
}
@media (min-width: 601px) {
  .third {
      width: 33.33333%;
  }
  .twothird {
      width: 66.66666%;
  }
  .code-icons{
    --icon-size: 35px;
  }
}
@media (min-width: 601px) and (max-width: 850px) {
  .code-icons{
    --icon-size: 26px;
  }
}
.scrollbar {
  overflow-y: auto;
  height: 100vh;
}
.scrollbar::-webkit-scrollbar {
  width: 15px;
}
.scrollbar::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #95a5a6;
  border: 1px solid #cacaca;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #2c3e50;
  cursor:grab;
}

.scrollbar::-webkit-scrollbar-thumb:active{
  cursor:grabbing;
}